# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/anonymous-stories?retryWrites=true&w=majority

# Google Analytics
GA_MEASUREMENT_ID=G-XXXXXXXXXX

# Google AdSense
ADSENSE_CLIENT=ca-pub-XXXXXXXXXXXXXXXX